Package: wfplug-squeek
Version: 1.6
Architecture: arm64
Maintainer: Simon Long <simon@raspberrypi.com>
Installed-Size: 107
Depends: libc6 (>= 2.17), libgcc-s1 (>= 3.0), libglib2.0-0t64 (>= 2.26.0), libglibmm-2.4-1t64 (>= 2.66.8), libgtkmm-3.0-1t64 (>= 3.24.10), libsigc++-2.0-0v5 (>= 2.2.0), libstdc++6 (>= 12), wf-panel-pi (>= 1.23), gtk-update-icon-cache
Section: x11
Priority: optional
Homepage: http://raspberrypi.com/
Description: Squeekboard plugin for wf-panel-pi
 Plugin for wf-panel-pi to toggle squeekboard virtual keyboard.
